<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top bg-header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"
        ><h1>
          <span class="fa fa-truck" aria-hidden="true"></span>AI Cargo
        </h1></a
      >
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li>
          <a routerLink="/services" routerLinkActive="active">Services</a>
        </li>
        <li><a routerLink="/process" routerLinkActive="active">Process</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
		<!--
        <li>
          <a routerLink="/track" routerLinkActive="active"
            ><i class="fa fa-truck" aria-hidden="true"></i> Track</a
          >
        </li>
        <li>
          <a routerLink="/login" routerLinkActive="active"
            ><i class="fa fa-lock" aria-hidden="true"></i> Login</a
          >
        </li>
        <li>
          <a routerLink="/signup" routerLinkActive="active"
            ><i class="fa fa-plus" aria-hidden="true"></i> Signup</a
          >
        </li>
		-->
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
<!-- navigation -->
