<section class="footer-agileits">
  <div class="container">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <h3>More Info</h3>
      <ul class="info-links">
        <li>
          <a href="about.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> About Us</a
          >
        </li>
        <li>
          <a href="contact.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> Contact Us</a
          >
        </li>
        <li>
          <a href="privacy.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> Privacy
            Policy</a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <h3>Our Links</h3>
      <ul class="footer-links">
        <li>
          <a href="work.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a
          >
        </li>
        <li>
          <a href="process.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a
          >
        </li>
      </ul>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <h3>Contact Info</h3>
      <div class="contact-info">
        <div class="address">
          <i class="glyphicon glyphicon-globe"></i>
          <p class="p3">Nachtigallenweg, 21</p>
          <p class="p4">71334, Waiblingen</p>
        </div>
        <div class="phone">
          <i class="glyphicon glyphicon-phone-alt"></i>
          <p class="p3">+49 176 22054453</p>
          <p class="p4">+49 176 37130790</p>
        </div>
        <div class="email-info">
          <i class="glyphicon glyphicon-envelope"></i>
          <p class="p5">
            <a href="mailto:aley.zaidi@gmail.com">aley.zaidi@gmail.com</a>
          </p>
          <p class="p6">
            <a href="mailto:imranhussain.cse@gmail.com"
              >imranhussain.cse@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <h3>Subscribe Us</h3>
      <div class="subscribe">
        <form action="#" method="post">
          <div class="form-group">
            <input
              type="email"
              name="email2"
              class="form-control"
              id="inputEmail1"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="user"
              class="form-control"
              id="text1"
              placeholder="Your Name"
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn-outline">Subscribe</button>
          </div>
        </form>
      </div>
      <ul class="social-icons2">
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <hr />
    <p class="copyright">© 2020 AI Cargo Services. All Rights Reserved</p>
  </div>
</section>
