<section class="footer-agileits">
  <div class="container">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>More Information</h3>
      <ul class="info-links">
        <li>
          <a class="fa fa-hand-o-right" routerLink="/about">
            Learn more About Us</a
          >
        </li>
        <li>
          <a class="fa fa-hand-o-right" routerLink="/contact">
            Get in Touch with Us</a
          >
        </li>
		<li>
          <a class="fa fa-hand-o-right" routerLink="/services">
            Our Services</a
          >
        </li>
      </ul>
    </div>
	<!--
    <div class="col-lg-3 col-md-3 col-sm-6">
      <h3>Our Links</h3>
      <ul class="footer-links">
        <li>
          <a href="work.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> Our Work</a
          >
        </li>
        <li>
          <a href="process.html"
            ><i class="fa fa-hand-o-right" aria-hidden="true"></i> Process</a
          >
        </li>
      </ul>
    </div>
	-->
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>Contact Information</h3>
      <div class="contact-info">
        <div class="address">
          <i class="glyphicon glyphicon-globe"></i>
          <p class="p3">Nachtigallenweg, 21</p>
          <p class="p4">71334, Waiblingen</p>
        </div>
        <div class="phone">
          <i class="glyphicon glyphicon-phone-alt"></i>
          <p class="p3">+49 176 22054453</p>
          <p class="p4">+49 176 37130790</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <h3>Follow Us</h3>
	  <p class="p3">Follow our social media platforms</p>
      <ul class="social-icons2">
        <li>
          <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </li>
      </ul>
    </div>
    <div class="clearfix"></div>
    <hr />
    <p class="copyright">© 2020 AI Cargo Services. All Rights Reserved</p>
  </div>
</section>
