<section class="about-w3ls">
  <div class="container">
    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-12">
        <i class="fa fa-braille" aria-hidden="true"></i>
        <h3 class="text-center">About Our Business</h3>
        <p>
          Technology is our passion and we possess more than 15 years of
          experience in information technology about digital handling of
          documents. Aley and Imran founded a Cargo Company to provide cargo
          services between Europe and Pakistan. We are global logistic partners
          of international airlines and sea freights and offer a wide range of
          transport solutions with full digital tracking of your cargo. Though
          new in the cargo business, we strongly committed to quality,
          reliability and innovation in our business. You will feel it yourself
          when doing business with us. Your satisfaction is our success.
        </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
</section>

<!-- Team Members -->
<section class="team-w3ls">
  <div class="container">
    <i class="fa fa-trophy" aria-hidden="true"></i>
    <h3 class="text-center w3-agileits agileits-w3layouts agile w3-agile">
      Our Team
    </h3>
    <p class="text-center w3-agileits agileits-w3layouts agile w3-agile">
      Our success is our team who puts complete efforts to provide you with up
      to date services
    </p>

    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
      <div class="img-thumbnail">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                class="img-responsive"
                src="assets/images/imran.jpg"
                alt="Imran"
              />
            </figure>
          </div>
        </div>
        <div class="caption">
          <h4>Imran Hussain</h4>
          <p class="team-p1">CTO</p>
          <ul class="social-icons1">
            <li>
              <a href="https://www.facebook.com/imranhussain.nagri/"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/imran-hussain-a8676070/"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 text-center">
      <div class="img-thumbnail">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                class="img-responsive"
                src="assets/images/aa.jpg"
                alt="Aley Raza"
              />
            </figure>
          </div>
        </div>
        <div class="caption">
          <h4>Aley Raza</h4>
          <p class="team-p1">CEO</p>
          <ul class="social-icons1">
            <li>
              <a href="https://www.facebook.com/alebald.baldino"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/aley-zaidi-921a2041/"
                ><i class="fa fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
