<section class="service-w3ls">
  <div class="container">
    <i class="fa fa-braille" aria-hidden="true"></i>
    <h3 class="text-center w3-agileits agileits-w3layouts agile w3-agile">
      Our Service Details
    </h3>
    <p class="text-center w3-agileits agileits-w3layouts agile w3-agile">
      Wide range of logistic Solutions including Air and Sea freight
    </p>
  </div>
  <div class="container">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-2">
            <div class="ch-info-wrap">
              <div class="ch-info">
                <div class="ch-info-front ch-img-2"></div>
                <div class="ch-info-back">
                  <h3>Sea Freight</h3>
                  <p>Secure Cargo Services</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <h5>Sea Freight</h5>
      <p class="serv-p1">
        Partner of world renowned Sea Freight logistic companies
      </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <ul class="ch-grid">
        <li>
          <div class="ch-item ch-img-3">
            <div class="ch-info-wrap">
              <div class="ch-info">
                <div class="ch-info-front ch-img-3"></div>
                <div class="ch-info-back">
                  <h3>Air Freight</h3>
                  <p>Secure Cargo Services</p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <h5>Air Freight</h5>
      <p class="serv-p1">
        Partner of world renowned AirFreight logistic companies
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</section>

<section class="service-agileits">
  <div class="container">
    <i class="fa fa-trophy" aria-hidden="true"></i>
    <h3 class="text-center">Our Service Information</h3>
    <p class="text-center">
      We are using two paths to deliver your cargo to Pakistan
    </p>
  </div>
  <div class="container marketing">
    <!-- START THE FEATURETTES -->
    <div class="row featurette">
      <div class="col-md-7">
        <h4 class="featurette-heading">AIR TRANSPORT</h4>
        <p class="serv-p2">
          Transport by airplane makes the world a smaller place. For goods that
          need to be transported fast and over long distances, transport by
          airplane is perfect. Cargo Company arranges the transport of your
          shipments to all continents fast and safely via the leading European
          airports. The transports are executed only by the best airline
          companies. We take care of the entire transport, with the right
          knowledge of customs formalities and, if you need, from door to door.
          Flying is fast, but customs formalities can cause unnecessary delays.
          In a short time the air freight shipment needs to be prepared
          according to strict regulations. From correct packaging on air freight
          pallets to the proper customs documentations to arrange customs
          clearance; we can take care of everything for you. Furthermore, we
          have worldwide knowledge of specific import regulations and can
          consult you accordingly. With our experience and expertise Cargo
          Company ensures a smooth transport from start to delivery.
        </p>
      </div>
      <div class="col-md-5 serv-w3layouts">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                class="featurette-image img-responsive center-block"
                src="assets/images/serv-img3.jpg"
                alt="Generic placeholder image"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <hr class="featurette-divider" />
    <div class="row featurette">
      <div class="col-md-7 col-md-push-5">
        <h4 class="featurette-heading">DEEP SEA SHIPPING</h4>
        <p class="serv-p2">
          Transport by sea is the cheapest and most environmentally-friendly
          way to transport goods over long distances. Deep sea shipping bridges
          the distance between continents. Cargo Company has many years of
          experience organising the transport of container shipments and solves
          logistics problems all over the world with the support of an extensive
          transport network. The deep sea container shipments run via the
          leading European container ports of Rotterdam, Antwerp, Hamburg and
          Bremen. Via these sea ports Cargo Company organises the import, export
          and cross trade of goods per container. We service both full container
          load (FCL) and less than container load (LCL). In case of LCL Cargo
          Company can organise shipments including groupage and consolidation of
          part loads. For your precious cargo we have a track and trace
          solution; this way the entire transport can be monitored from
          beginning to end, 24 hours a day. Furthermore, we can take care of gas
          measurements and, if necessary, the controlled degassing of
          containers. Cargo Company is also happy to take the customs
          formalities off your hands. We like to unburden our clients wherever
          we can.
        </p>
      </div>
      <div class="col-md-5 col-md-pull-7">
        <div class="hover01 column">
          <div>
            <figure>
              <img
                class="featurette-image img-responsive center-block"
                src="assets/images/serv-img2.jpg"
                alt="Generic placeholder image"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
    <hr class="featurette-divider" />
  </div>
  <!-- /END THE FEATURETTES -->
</section>
