<!-- banner section -->
<section class="inner-w3ls">
  <div class="container">
    <h2 class="text-center w3 w3l agileinfo wthree">
      Courier Services to Pakistan
    </h2>
    <p class="text-center w3 w3l agileinfo wthree">
      We will take care of your goods to send it to your loved ones in Pakistan
    </p>
  </div>
</section>
<!-- /banner section -->
<!-- specialization section -->
<section class="special-w3layouts">
  <div class="container">
    <h3 class="text-center wthree w3-agileits">Our Specialities</h3>
    <p class="text-center wthree w3-agileits">
      We are the leading company for cargo services from Europe to Pakistan
    </p>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <img src="assets/images/monitor.png" alt="" class="img-responsive" />
      <h4 class="text-center">Tracking</h4>
      <p class="special-p1">
        You can track your packet any time at our website till it is safely
        delivered.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <img src="assets/images/shop.png" alt="" class="img-responsive" />
      <h4 class="text-center">Safety</h4>
      <p class="special-p1">
        Your packets safety is our primary goal, it is carried safely to deliver
        it at the destionation specified.
      </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <img src="assets/images/truck.png" alt="" class="img-responsive" />
      <h4 class="text-center">Delivered In Time</h4>
      <p class="special-p1">
        We assure you to deliver the packet in time, that is specified.
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<!-- /specialization section -->
<!-- 2nd banner section -->
<section class="banner-w3ls2">
  <div class="container">
    <h3 class="text-center agileits-w3layouts agile w3-agile">
      Providing with best processes
    </h3>
  </div>
</section>
<!-- /2nd banner section -->
<!-- 2nd info section -->
<section class="info-w3ls2">
  <div class="container">
    <i class="fa fa-trophy" aria-hidden="true"></i>
    <h3 class="text-center agileits-w3layouts agile w3-agile">
      Always Delivering Best Of Our Services
    </h3>
    <p class="text-center">
      As a leading Cargo company we aim to provide you with best services so
      that our customers will have no chance to get worry about anything.
    </p>
  </div>
</section>
<!-- /2nd info section -->
